<h1 align="center">Listing articles</h1>

<div align="center">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles.order(updated_at: :desc) %>
<div align="center">
    <%= will_paginate %>
</div>